.container {
    display: flex;
    background-color: #D4DCFF;
    justify-content:center;
    align-items:center;
    height:500px;
    
  }
  
  .login {
    background-color: #7D83FF;
    padding:30px;
    width:300px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .inputs {
    padding:10px;
    font-size: 16px;
  }
    
  button {
    width: 100%;
    font-size:16px;
    margin: 15px 0;
    
  }
  